/* Clases generales */

body{
  background-color: #4da0e426;
}
.centrado{
  margin: 10px auto 10px;
  display: block;
}


/* Segundo div de todas las paginas */
/* Evita amontonamiento */
.principal{
    margin-top:20px;
    margin-bottom:35px ;
}
/* ############################# */
/* Index (biografia) */
.tex p{
  font-size: 22px;
}

/* #################################### */
              /* Datos curiosos  (About)*/
.img-about img {
  width: 24%;
  height: 240px;

}



/* ############################################################### */
                              /* Premios */
  .premios li{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    color: rgb(37, 36, 36);
    padding-left: 10px;
    list-style: none;

  }


/* ######################################################### */
                  /* Carrera */

.lista li{
  font-size: 22px;
}



/* ############################ */
        /*  music */

.space{
  margin-bottom: 25px;
}

.space video{
  width: 75%;
  height: auto;
}


/* ############################################# */
              /* Discografia */

.contenedor{
  width: 180px; 
  height: auto;
  margin: 5px 0 10px auto;
  display: block;
}

/* ############################################ */
/* Estilo responsivo (Maqutación liquida) */



@media screen and (max-width: 879px){
               /* Datos curiosos  (About)*/
.img-about img {
  width: 24%;
  height: auto;

}
}

@media screen and (max-width: 639px){
  /* Bio */
  .bio p{
    font-size: 15px;
  }
  

/* Carrera */
.lista li{
  font-size: 15px;
}
.img-about img {
  width: 20%;
  height: auto;

}
}