:root{
  --amarillo: #FBF47D;
  --verde: #66FE82;
  --color3: #5065C7;
}

/* Clases generales */
body{
  background-color: var(--amarillo);
}
.centrado{
  margin: 10px auto 10px;
  display: block;
}

.tex p{
  font-size: 22px;
}

/* Segundo div de todas las paginas */
/* Evita amontonamiento */
.principal{
    margin-top:20px;
    margin-bottom:35px ;
}
/* ############################# */
/* Index (biografia) */

.inicio td{
  border-style: none;
  font-size:45px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  background:var(--amarillo);
  }
.inicio a{
  color: var(--color3);
}

/* ############################ */
        /*  portafolio */

.space{
    margin-bottom: 25px;
}



/* #################################### */
              /* Datos curiosos  (About)*/
.video{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}



/* ############################################################### */
                              /* Premios */
  .premios li{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    color: rgb(37, 36, 36);
    padding-left: 10px;
    list-style: none;

  }
/* ############################################ */
/* Estilo responsivo (Maqutación liquida) */



@media screen and (max-width: 879px){
  .tex p{
    font-size: 16px;
  }
}
